/*body
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 20px;
}

.containerData
{
    padding: 20px;
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html, body
{
    height:100%;
    width: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.container
{
    width: 100%;
    margin: 0 auto;
    /*border: 2px solid red;*/
}

/*************************************/
/**         STYLES FOR MENU         **/
/*************************************/
.menu
{
    width: calc(0% + 220px);
    height: 100%;
    position: absolute;
    background-color: #4b5468;
    /*border: 2px solid yellow;*/
}

.labelTitle
{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelTitle
{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.labelMenu
{
    text-align: left;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.menuTitle
{
    display: flex;
    height: 50px;
    background-color: #404859;
}

.menuItem
{
    display: flex;
    height: 50px;
    background-color: #4b5468;
}


.menuItem:hover
{
    background-color: #a6aebf;
    cursor: pointer;
}

.image
{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgItem
{
    height: 24px;
}


/*************************************/
/**         STYLES FOR DATA         **/
/*************************************/
.dataContainer
{
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #ffffff;
    width: calc(100% - 220px);
    display: flex;
    justify-content: center;
}

.dataNg
{
    width: 90%;
    height: 650px;
}

.titleWelcome
{
    text-align: center;
    font-size: 1.6rem;
    color: #3b4252;
    font-family: 'Avenir Next LT W01 Demi', sans-serif;
}

.subTitleWelcome
{
    font-family: 'AvenirNextLTW01-Medium', sans-serif;
    font-size: 1.2rem;
    color: #00bf5f;
}

.strong 
{
    font-family: 'AvenirNextLTW01-Regular', sans-serif;
    font-weight: bolder;
    color: #474f60;
    font-size: 1rem;
    line-height: 1.6;
}

.welcomeDescription
{
    font-family: 'AvenirNextLTW01-Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #474f60;
}

.containerImagesWelcome
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.imgClient
{
    width: 30%;
    height: 30%;
}

/*************************************/
/**       STYLES FOR FOOTER         **/
/*************************************/
.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #c4c9d4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerLabels
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #404859;
    display: flex;
    align-items: center;
    text-decoration: none;
}


/*************************************/
/**        STYLES FOR TABLE         **/
/*************************************/
table, td, th 
{  
    border: 1px solid #ddd;
    text-align: left;
}

table
{
    border-collapse: collapse;
    width: 100%;
}

th, td
{
    padding: 15px;
}

.inputTblBtn
{
    color: white;
    height: 36px;
    width: 50px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addBtn
{
    width: 80px;
    background-color: #28a745;
}

.editBtn
{
    background-color: #117a8b;
}

.clearBtn
{
    width: 80px;
    background-color: #d39e00
}

.deleteBtn
{
    background-color: #bd2130;
}

.containerBtnsSubmit
{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

/*************************************/
/**        STYLES FOR INPUTS        **/
/*************************************/
.containerxd
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerInputsAdd
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.containerLabelsAdd
{
    width: 26%;
    display: flex;
    flex-direction: column;
}

.containerInputsTextAdd
{
    width: 26%;
    display: flex;
    flex-direction: column;
}

.labelInputsAdd
{
    padding: 10px;
    font-size: 16px;
}

.inputText
{
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

/***********************************/

.testing_container
{
    /**/
}

.testing_containerInput
{
    
}

.testing_input
{
    width: 30%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    background-color: #f0f2f4;
    color: black;
    border: 2px solid #4b5468;
}

.testing_containerButton
{
    padding-top: 20px;
}

.testing_button
{
    border: none;
    color: white;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.button1
{
    background-color: white; 
    color: black; 
    border: 2px solid #4b5468;
}

/*******************************************
//*******************************************
//*******************************************
//*******************************************/

.containerComponents
{
    border: 2px solid #4b5468;
    border-radius: 4px;
    padding: 20px;
}

.containerC1
{
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.containerCN
{
    height: 200px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.containerN
{
    height: 86%;
    width: 60%;
    border-radius: 4px;
    border: 2px solid #4b5468;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.component1
{
    border: 2px solid #4b5468;
    width: 48%;
    height: 70%;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.component4
{
    border: 2px solid #4b5468;
    width: 48%;
    height: 70%;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}