<div class="containerDataSummoner">
   <!--div>
       Getting data: {{data.id}}
   </div-->
   
    <div>
       <button ng-click="getQueue()">Get Elo's information</button>
    </div>
    
    <div ng-if="show">
        <table>
            <thead>
                <tr>
                    <th scope="col">Queue type</th>
                    <th scope="col">Wins</th>
                    <th scope="col">Losses</th>
                    <th scope="col">League name</th>
                    <th scope="col">Rank</th>
                    <th scope="col">Tier</th>
                    <th scope="col">League points</th>
                </tr>
            </thead>
                    
            <tbody>
                <tr ng-repeat="dat in information">
                    <td>{{dat.queueType}}</td>
                    <td>{{dat.wins}}</td>
                    <td>{{dat.losses}}</td>
                    <td>{{dat.leagueName}}</td>
                    <td>{{dat.rank}}</td>
                    <td>{{dat.tier}}</td>
                    <td>{{dat.leaguePoints}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>