<footer class="footer">
    <a href="" class="footerLabels">© Vesta Corporation. All rights Reserved.</a>
    <a href="" class="footerLabels">Terms of use</a>
    <a href="" class="footerLabels">Privacy</a>
    <img src="https://trustvesta.com/img/footer-vesta-brand.svg" class="imgItem">
    <a href="" class="footerLabels">trustvesta.com</a>
</footer>