<!--ul>
    <li ng-repeat="phone in $ctrl.phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
    </li>
</ul-->

<p>{{$ctrl.message}} world, {{$ctrl.name1}} {{$ctrl.name2}}</p>


<!--p>{{$ctrl.array}}</p-->

<h4>{{$ctrl.etiqueta}}</h4>

<input type="text" ng-model="$ctrl.etiqueta">
<!--button ng-click='$ctrl.func($ctrl.etiqueta)'>Clic</button-->
<button ng-click="$ctrl.func({etiqueta: $ctrl.etiqueta})">Clic</button>


<div class="todo">
    <input type="text" ng-model="$ctrl.count">
    <button type="button" ng-click="$ctrl.decrement();">-</button>
    <button type="button" ng-click="$ctrl.increment();">+</button>
</div>