<div class="">
    <h3>Welcome to testing!</h3>
    
    <!--div class="">
        <message mess="$ctrl.mess"></message>
    </div>
    
    <div>
        <form-component mess="$ctrl.mess"></form-component>
    </div-->
    <div class="containerComponents">
        <div class="containerC1">
            <div class="component1">
                <component-c1></component-c1>    
            </div>
            
            <div class="component4">
                <component-c4></component-c4>
            </div>
        </div>
    
        <div class="containerCN">
            <div class="containerN">
                <component-n></component-n>
            </div>
        </div>
    </div>
</div>