<h3>Welcome to New users.</h3>

<div class="containerxd">
    <div class="containerInputsAdd">
        <div class="containerLabelsAdd">
            <label class="labelInputsAdd">Name</label>
            <label class="labelInputsAdd">Email</label>
            <label class="labelInputsAdd">Phone</label>
            <label class="labelInputsAdd">Course</label>
        </div>
  
        <div class="containerInputsTextAdd">
            <input type="text" required ng-model="newUser.name" class="inputText" placeholder="Name">
            <input type="email" required ng-model="newUser.email" class="inputText" placeholder="Email">
            <input type="text" required ng-model="newUser.phone" class="inputText" placeholder="Phone">
            <input type="text" required ng-model="newUser.course" class="inputText" placeholder="Course">
        </div>
    </div>
    <div class="containerBtnsSubmit">
        <button type="submit" ng-click="myFunction()" class="inputTblBtn addBtn">Save</button>
        <button type="button" ng-click="clear()" class="inputTblBtn clearBtn">Clear</button>
    </div>
</div>