<!--div ng-controller="mainController"-->
<div>
    <h3 class="titleWelcome">About Vesta</h3>
    <h5 class="subTitleWelcome">The global leader in guaranteed <br>payment solutions</h5>
        
    <strong class="strong">For over two decades, Vesta's patented fraud technologies have driven revenue and growth for the world's biggest brands.</strong>
        
    <p class="welcomeDescription">Vesta Corporation began in 1995 as a pioneer in processing fully guaranteed card-not-present (CNP) payment transactions for the telecommunications industry. Since then, we have steadily expanded our position as the leader in secure digital payments in the global telecom sector, providing multi-channel payment solutions for industry leaders such as AT&T, T-Mobile, Vodafone, Telcel, China Unicom, Movistar, and Rogers, among many others. Based on the innovations in risk and payment technology we pioneered in telecom, we broadened our solution set to support all merchants selling goods and services online.</p>
</div>
<div class="containerImagesWelcome">
    <img class="imgClient" src="img/ebay.png">
    <img class="imgClient" src="img/att.png" alt="">
    <img class="imgClient" src="img/movistar.png" alt="">
    <img class="imgClient" src="img/target.png" alt="">
    <img class="imgClient" src="img/tmobile.png" alt="">
    <img class="imgClient" src="img/vodaphone.png" alt="">
</div>