<h3>Welcome to Show users.</h3>

<div>
    <table>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Course</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
                    
        <tbody>
            <tr>
                <th scope="row">Mark</th>
                <td>Mark@Mark.com</td>
                <td>4371075544</td>
                <td>Unosquare Training</td>
                <td>
                    <button type="button" ng-click="editUser($index)" class="inputTblBtn editBtn">Edit</button>
                    <button type="button" ng-click="deleteUser($index)" class="inputTblBtn deleteBtn">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">Mark</th>
                <td>Mark@Mark.com</td>
                <td>4371075544</td>
                <td>Unosquare Training</td>
                <td>
                    <button type="button" ng-click="editUser($index)" class="inputTblBtn editBtn">Edit</button>
                    <button type="button" ng-click="deleteUser($index)" class="inputTblBtn deleteBtn">Delete</button>
                </td>
            </tr>
            <!--tr ng-repeat="user in users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.course}}</td>
                <td>
                    <button type="button" ng-click="editUser($index)" class="btn btn-info btn-rounded btn-sm my-0">Edit</button>
                    <button type="button" ng-click="deleteUser($index)" class="btn btn-danger btn-rounded btn-sm my-0">Delete</button>
                </td>
            </tr-->
        </tbody>
    </table>
</div>