<div ng-controller="summonerController">
    <h3>Search information about a Summoner!</h3>
    
    <div>
        Enter summoner name: <input type="text" required ng-model="data.summoner" placeholder="Summoner" ng-change="updateSummoner()">
        <button ng-click="submitSummoner()" type="submit">Search</button>
    </div>
    
    <div ng-if="data.summonerID != null" class="showData">
        <div>
            <ul>
                <li>Summoner ID: {{data.summonerID}}</li>
                <li>Summoner name: {{data.summonerName}}</li>
                <li>Summoner level: {{data.summonerLevel}}</li>
                <li>Status: {{data.status}}</li>
                <li>Maestries</li>
            </ul>
        </div>
        
        <div>
            <show-data-summoner-directive data=data></show-data-summoner-directive>
        </div>
    </div>
</div>